@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  line-height: 1.5;
  color: #221E1F;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: border-box;
}

sub {
  /* vertical-align: sub; */
}

.text-primary {
  color: #56C4C5;
}

.text-white {
  color: #fff;
}

.bg-primary {
  background-color: #56C4C5;
}

.bg-secondary {
  background-color: #F5F5F5;
}

.text-center {
  text-align: center;
}

.fs-1 {
  font-size: 48px;
}

.fs-2 {
  font-size: 32px;
}

.fs-3 {
  font-size: 28px;
}

.fs-4 {
  font-size: 24px;
}

.fs-5 {
  font-size: 20px;
}

.fs-6 {
  font-size: 18px;
}

.fs-7 {
  font-size: 16px;
}

.fs-8 {
  font-size: 14px;
}

.fs-9 {
  font-size: 12px;
}

@media (max-width: 767px) {
  .fs-sm-2 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .fs-sm-3 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .fs-sm-4 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .fs-sm-5 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .fs-sm-6 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .fs-sm-7 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .fs-sm-8 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .fs-sm-9 {
    font-size: 12px;
  }
}

.fw-bold {
  font-weight: 700;
}

.lh-1 {
  line-height: 1;
}

.border {
  border: 1px solid #000;
}

.border-primary {
  border-color: #56C4C5 !important;
}

.rounded {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 32px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mb-sm-4 {
    margin-bottom: 24px;
  }
}

.mr-2 {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .mr-sm-1 {
    margin-right: 4px;
  }
}

.px-5 {
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 767px) {
  .px-sm-4 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-5 {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  .py-sm-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.container {
  max-width: 1120px; /* 1088 + 16 + 16 */
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

.footer {
  background-color: #F5F5F5;
  text-align: center;
  padding: 16px 0;
}

.navbarOuterContainer {
  /* margin-bottom: 30px; */
}
@media (max-width: 767px) {
  .navbarOuterContainer {
    /* margin-bottom: 0; */
    background-color: #fff;
    border-bottom: 2px solid #FFD153;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navbar .logoWrapper {
  width: 218px;
}
@media (max-width: 767px) {
  .navbar .logoWrapper {
    width: 130px;
  }
}
.navbar-btn {
  display: inline-block;
  color: #fff;
  background-color: #FF5D50;
  padding: 8px 32px;
  border-radius: 22px;
  transition: background-color 0.15s ease-in-out;
}
.navbar-btn:hover {
  background-color: #ff1604;
}

.goTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 71px;
  bottom: 20px;
  right: 40px;
  font-weight: 700;
  color: #fff;
  background-color: #56C4C5;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 12px 32px;
  border-radius: 27px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .btn {
    padding: 8px 16px;
  }
}

.btn-primary {
  color: #fff;
  background-color: #56C4C5;
  border-color: #56C4C5;
}
.btn-primary:hover {
  color: #fff;
  background-color: #35999a;
  border-color: #35999a;
}

.indexHeader {
  padding-bottom: 117px;
  margin-bottom: 100px;
  background-image: url("../image/bg_home.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}
@media (max-width: 767px) {
  .indexHeader {
    background-image: none;
    background-position: 0 100%;
    padding-bottom: 32px;
    margin-bottom: 60px;
  }
}

.banner {
  padding-top: 188px;
  padding-bottom: 158px;
  background-image: url("../image/home.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}
@media (max-width: 767px) {
  .banner {
    padding-top: 32px;
    padding-bottom: 344px;
    background-image: url("../image/home.svg"), url("../image/bg_home_sm.svg");
    background-position: 0 100%;
  }
}
.banner-chat {
  color: #56C4C5;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .banner-chat {
    font-size: 16px;
  }
}
.banner-slogan {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .banner-slogan {
    font-size: 32px;
  }
}
.banner-solution {
  font-size: 20px;
}
@media (max-width: 767px) {
  .banner-solution {
    font-size: 16px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}

.platform {
  position: relative;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .platform {
    margin-bottom: 36px;
  }
}
.platform h2 {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .platform h2 {
    margin-bottom: 32px;
  }
}
.platform .ballImgWrapper {
  position: absolute;
  width: 360px;
  height: 360px;
  top: -300px;
  left: -180px;
  z-index: -1;
}
@media (max-width: 767px) {
  .platform .ballImgWrapper {
    width: 126px;
    height: 126px;
    top: 13px;
    left: -77px;
  }
}

.platformList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.platformItem {
  width: 33.33%;
  text-align: center;
}
@media (max-width: 767px) {
  .platformItem {
    width: 100%;
    margin-bottom: 24px;
  }
}
.platformItem .imgWrapper {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .platformItem .imgWrapper {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }
}
.platformItem h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .platformItem h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.platformItem p {
  color: #747474;
}

.target {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .target {
    margin-bottom: 60px;
  }
}
.target h2 {
  margin-bottom: 16px;
}
.target .ballImgWrapper {
  position: absolute;
  width: 210px;
  height: 310px;
  bottom: -195px;
  right: 0;
  z-index: -1;
  background-image: url("../image/ball02.svg");
  background-size: cover;
}
@media (max-width: 767px) {
  .target .ballImgWrapper {
    width: 88px;
    height: 135px;
    bottom: -25px;
  }
}

.targetDesc {
  font-size: 20px;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .targetDesc {
    font-size: 18px;
    margin-bottom: 32px;
  }
}

.targetList {
  display: flex;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
}
@media (max-width: 767px) {
  .targetList {
    flex-wrap: wrap;
  }
}

.targetItem {
  width: 25%;
  max-width: 260px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
  overflow: hidden;
}
@media (max-width: 767px) {
  .targetItem {
    width: 100%;
    margin-bottom: 24px;
  }
}

.targetItemName {
  color: #56C4C5;
  padding: 16px;
}

.targetItemText {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.feature {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .feature {
    flex-direction: column;
    margin-bottom: 36px;
  }
}

.featureDesc {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* make the child a.btn's width determined by its content, and not expand to the width of the parent */
  padding-left: 9%;
}
@media (max-width: 767px) {
  .featureDesc {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    padding-left: 0;
    margin-bottom: 32px;
  }
}
.featureDesc h2 {
  text-align: left;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .featureDesc h2 {
    text-align: center;
  }
}
.featureDesc p {
  font-size: 18px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .featureDesc p {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.featureList {
  flex: 0 0 50%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .featureList {
    justify-content: center;
  }
}

.featureItem {
  width: 41%;
  /* height: 280px; */
  padding: 32px;
  border-radius: 12px;
  margin-right: 9%;
  margin-bottom: 28px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 767px) {
  .featureItem {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .featureItem:first-child {
    order: 1;
  }
  .featureItem:nth-child(2) {
    order: 3;
  }
  .featureItem:nth-child(3) {
    order: 2;
  }
  .featureItem:nth-child(4) {
    order: 4;
  }
}
.featureItem h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .featureItem h3 {
    margin-bottom: 20px;
  }
}

.featureImgWrapper {
  width: 86px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
}

.start {
  text-align: center;
  padding-top: 260px;
  padding-bottom: 100px;
  background-image: url("../image/home_footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  .start {
    background-image: url("../image/footer_sm.svg");
    padding-top: 293px;
    padding-bottom: 60px;
  }
}
.start h2 {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .start h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.recommandation {
  position: relative;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .recommandation {
    margin-bottom: 60px;
  }
}
.recommandation h2 {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .recommandation h2 {
    margin-bottom: 32px;
  }
}
.recommandation .ballImgWrapper {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 45px;
  left: 50px;
  z-index: -1;
}
@media (max-width: 767px) {
  .recommandation .ballImgWrapper {
    width: 126px;
    height: 126px;
    top: 13px;
    left: -77px;
  }
}

.recommandationList {
  margin-bottom: 24px;
  padding-top: 56px;
}

.recommandationItem {
  position: relative;
  width: 33.33%;
  /* margin-left: 8px; */
  /* margin-right: 8px; */
  padding: 48px 32px 24px 32px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 767px) {
  .recommandationItem {
    width: 100%;
    padding: 48px 16px 16px 16px;
  }
}
.recommandationItem .imgWrapper {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -56px;
  border-radius: 50%;
  overflow: hidden;
}
.recommandationItem-content {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}
@media (max-width: 767px) {
  .recommandationItem-content {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
.recommandationItem h3 {
  font-weight: 700;
  margin-bottom: 8px;
}

/* override style of swiper */
.swiper {
  margin: 0 -8px;
  padding: 0 8px;
  padding-bottom: 24px;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 10px;
  background-color: #FFD153;
  border-radius: 50px;
}

.pricingHeader {
  background-color: #F7F9FD;
  background-image: url("/image/banner.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
  border-bottom-left-radius: 300px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .pricingHeader {
    background-position-y: 90px;
  }
}
@media (max-width: 440px) {
  .pricingHeader {
    background-image: url("/image/banner_sm.svg");
    background-position: left 0;
    border-bottom-left-radius: 120px;
    margin-bottom: 60px;
  }
}

.pricingBanner {
  padding-top: 92px;
  padding-bottom: 180px;
}
@media (max-width: 767px) {
  .pricingBanner {
    padding-top: 48px;
    padding-bottom: 360px;
  }
}

.pricingBanner-title {
  /* 有共通 */
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .pricingBanner-title {
    font-size: 32px;
  }
}

.plan {
  margin-bottom: 76px;
}
@media (max-width: 767px) {
  .plan {
    margin-bottom: 36px;
  }
}
.plan h2 {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .plan h2 {
    margin-bottom: 24px;
  }
}

.quantityBtns {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: auto;
}
@media (max-width: 767px) {
  .quantityBtns {
    justify-content: start;
    padding-bottom: 16px;
    margin: 0 -6px 16px -6px;
  }
}
.quantityBtns li {
  padding: 0 8px;
}
@media (max-width: 767px) {
  .quantityBtns li {
    padding: 0 6px;
  }
}

.selectBtn.active, .selectBtn:hover {
  color: #fff;
  background-color: #56C4C5;
}

.planDetail {
  width: 42%;
  min-width: 410px;
  margin: 0 20px 24px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 767px) {
  .planDetail {
    width: 100%;
    min-width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.planDetail-title {
  font-size: 24px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  .planDetail-title {
    padding: 16px 0;
  }
}
.planDetail-body {
  padding: 32px 24px;
}
@media (max-width: 767px) {
  .planDetail-body {
    padding: 24px 16px;
  }
}
.planDetail-infoItem {
  align-items: flex-start;
}
.planDetail-infoItem img {
  margin-top: 4px;
  margin-right: 12px;
}
@media (max-width: 767px) {
  .planDetail-infoItem img {
    margin-right: 16px;
  }
}

.faq {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .faq {
    margin-bottom: 60px;
  }
}
.faq .container {
  max-width: 904px;
}
@media (max-width: 767px) {
  .faq .container {
    max-width: 375px;
  }
}
.faq h2 {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .faq h2 {
    margin-bottom: 32px;
  }
}

.accordion-item {
  margin-bottom: 16px;
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  font-size: 18px;
  font-family: inherit;
  text-align: left;
  padding: 16px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: color 0.4s ease;
}
@media (max-width: 767px) {
  .accordion-button {
    font-size: 16px;
    padding: 16px;
  }
}
.accordion-button:not(.collapsed) {
  color: #56C4C5;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../../image/icon_minus.svg");
}
.accordion-button::after {
  content: "";
  width: 20px;
  height: 20px;
  margin-left: auto;
  background-image: url("../../image/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  .accordion-button::after {
    width: 16px;
    height: 16px;
  }
}
.accordion-collapse {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.accordion-collapse.collapsed {
  max-height: 0;
}
.accordion-body {
  color: #747474;
  padding: 8px 32px 32px 32px;
}
@media (max-width: 767px) {
  .accordion-body {
    padding: 0 16px 24px 16px;
  }
}/*# sourceMappingURL=all.css.map */